@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: rgb(37, 37, 37);
    .contenido-header {
        p{
            color: v.$blanco;
            font-size: 1.2rem;
            margin: 0;
            text-align: center;
        }
        padding: .5rem;
    }

    border-bottom: 1rem solid v.$amarillo;
}